[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gremlinpython = "==3.5.1"
aiohttp = "==3.7.4"

[dev-packages]
pytest = "==6.2.5"
pytest-asyncio = "==0.16.0"
pytest-cov = "*"
tox = "*"
pylint = "*"
notebook = "*"

[requires]
python_version = "3.8"
