.minimap {
  background-color: transparent;
}

.tooltip {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.minimap,
.minimap div {
  border: 1px solid #555 !important;
}

.minimap {
  /* background: #333 !important; */
  opacity: 0.96 !important;
}