.react-flow.dark {
  --xy-background-color-default: transparent !important;
}

.tooltip {
  box-shadow: none !important;
  border: none !important;
  padding: none !important;
  background: none !important;
}

.nodeField {
  cursor: pointer !important;

}

.nodeField.highlight {
  background-color: var(--canvas-node-field-hightlight-bg);
  color: var(--canvas-node-field-hightlight-text);
}

.nodeField.inactive {
  opacity: 0.2;
}